#sk:hover{
    box-shadow: 5px 5px 20px black;
    background-color: bisque;
}

#edu:hover{
    box-shadow: 5px 5px 20px black;
    background-color: whitesmoke;
}

#skills{
    background-color: antiquewhite;
}

#contact{
    background-color: antiquewhite;
}